.page {
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 5;
    
    height: 3.75rem;
    /* padding: 0.5rem 1rem; */

    backdrop-filter: blur(5px);
    background-color: #ffffff4D
}

.main {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    max-width: 100%;
}