.main {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    max-width: 100%;
}

.center {
    flex: 1 1 0px;
    min-width: 1px;
}

.centerHeader {
    position: sticky;
    top: 0;

    backdrop-filter: blur(5px);
    background-color: var(--navbar-background);
    box-shadow: var(--header-shadow);

    height: var(--navbar-height);
}

.container {
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
}

.editor {
    flex: 1 1 0;

    margin: 0 4rem;
}

/* 사용자가 쓰게 되는 문서의 CSS 속성 */
.editor h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
}

.editor h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
}

.editor h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}

.editor h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}
.editor p{
    font-size: 16px;
    line-height: 140%;
}