.container {
    flex: 0 0 20%;
    max-width: 20%;
    background-color: var(--sidebar-background);
    border-right: solid 1px var(--solid-border-color);
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bars {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}


.mainBar {
    height: 3rem;
    display: flex;
}

.mainBarComponent {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainbar-nonselected-background);;

    cursor: pointer;
}

.mainBarComponent:not(.selected):hover {
    background-color: #f5f5f1;
}

.selected {
    background-color: var(--sidebar-background);
}

.mainBarBtn {
    color: #696969;
    border: solid 1px #e0e0e0;
    border-radius: 8px;

    cursor: pointer;

    width: 34px;
    height: 34px;

    margin: 4px 8px;
    padding: 6px;
}

.subBar {
    flex: 1 1 0;
    padding: 1rem 0.5rem;
}

.global{
    display: flex;
    justify-content: flex-end;
}
