.block{
    padding: 6px;
    background-color: whitesmoke;
    margin: 2px 0;
    border-radius: 6px;
    line-height: 120%;
    cursor: text;
}
.titlePlaceholder:empty:before{
    color: rgba(72, 72, 72, 0.25);
    content: "제목 없음";
}
.placeholder:empty:before{
    color: rgba(72, 72, 72, 0.25);
    content: "/를 눌러 태그 변경";
}