.draggable{
    display: flex;
    align-items: center;
}
.block {
    padding: 8px;
    border-radius: 6px;
    cursor: text;
    flex: 1 1 0;
}

.block:focus {
    outline: 0px solid transparent;
}

.placeholder:empty::before{
    color: var(--placeholder-gray);
    content: "/를 눌러 태그 변경";
}

.draghandler{
    color: var(--drag-handler-gray);
    width: 1rem;
}