.header {
    display: flex;
    align-items: center;
    z-index: 50;
    position: sticky;
    top: 0;
    padding: 1rem 1.5rem;

    background-color: var(--navbar-background);
    backdrop-filter: blur(5px);
    box-shadow: var(--header-shadow);
}

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.edited {
    color: var(--cansave-gray);
}