.sidebar {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.molip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    font-size: 30px;
    font-weight: 600;
}

.bars {
    display: flex;
    flex: 1 1 0;
}

.mainBar {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBarBtn {
    color: #696969;
    border: solid 1px #e0e0e0;
    border-radius: 8px;

    width: 34px;
    height: 34px;

    margin: 4px 8px;
    padding: 6px;
}

.subBar {
    flex: 1 1 0;
    padding: 1rem 1rem;
}
.file{
    color: #696969;
    display: flex;
    vertical-align: middle;
}
.fileName{
    margin-left: 0.5rem;
}